@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Web Grid Data Receiver";
}

@section banner{
    <h1>Display a Collection of Records using WebGrid</h1>
}

<h4> You passed the value @Request.QueryString["pid"] from the WebGrid.</h4>