@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Home";
}

@section head{
    @* specify styling that is specific to this page *@
}

@section banner{
    <h1> Welcome to  Razor and Forms</h1>
}

@* anything that is NOT in a specified section is considered part of
    RenderBody*@